/* übernomen von http://getbootstrap.com/examples/starter-template/ */
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* manuelle anpassung */
#network-hashtag {
  max-width: 100%;
  height: 70vh;
  margin: auto;
}

.activate-hashtag {
  cursor: pointer;
}
